<div class="p-grid">
	<div class="p-col-12"> 
		<company-overview companyName="{{companyName}}"></company-overview>
	</div>
	
	<div class="p-col-12 p-md-6">
		<performance companyName="{{companyName}}"></performance>
	</div>
	
	<div class="p-col-12 p-md-6"> 
		<company-industries companyName="{{companyName}}"></company-industries>
	</div>
	<div class="p-col-12 p-md-6"> 
		<company-competitors companyName="{{companyName}}"></company-competitors>
	</div>
	
	<div class="p-col-12 p-md-6">
		Placeholder for Price History Chart
	</div>
</div>