<a href="https://s3.amazonaws.com/alphataxonomy.com/company_10k_web_wiki_out.csv" target="_self">View Raw Data</a>
<p-table #companyTable [value]="companies" [columns]="cols" sortField="name" [sortOrder]="1" selectionMode="single"
	[(selection)]="selectedCompany" dataKey="name" (onRowSelect)="onRowSelect($event)" scrollable="true"
	scrollHeight="300px" [rows]="20" virtualScroll="virtualScroll" [loading]="loading">
	<ng-template pTemplate="header" let-columns role="grid">
		<tr>
			<th *ngFor="let col of columns" [pSortableColumn]="col.field">
				{{col.header}} <p-sortIcon [field]="col.field"></p-sortIcon>
			</th>
		</tr>
		<tr>
			<th *ngFor="let col of columns" [ngSwitch]="col.field">
				<input #hiddenfilter pInputText type="text" [(ngModel)]="col.filter" style="display: none;'"
					(input)="companyTable.filter($event.target.value, col.field, col.filterMatchMode)">
				<input #filter pInputText type="text" [(ngModel)]="col.filter"
					(input)="companyTable.filter($event.target.value, col.field, col.filterMatchMode);">
			</th>
		</tr>
	</ng-template>
	<ng-template pTemplate="body" let-rowData let-columns="columns">
		<tr [pSelectableRow]="rowData">
			<td *ngFor="let col of columns">{{rowData[col.field]}}</td>
		</tr>
	</ng-template>
	<ng-template pTemplate="loadingbody" let-columns="columns">
		<tr style="height:34px">
			<td *ngFor="let col of columns">
				<div class="loading-text"></div>
			</td>
		</tr>
	</ng-template>
</p-table>