<p-panel header="{{companyName}}">
	<div class="p-grid">
    	<div class="p-col-12 p-md-6 p-lg-3">
    		<p-card header="NASDAQ's Classification">
    			<div>{{companyData.nasdaqSectorName}}</div>
    		</p-card>
		</div>
    	<div class="p-col-12 p-md-6 p-lg-3">
    		<p-card header="Most Recent Earnings">
    			<div>{{companyData.performance}}</div>
    		</p-card>
		</div>
    	<div class="p-col-12 p-md-6 p-lg-3">
    		<p-card header="Website">
    			<div>https://example.com</div>
    		</p-card>
    	</div>
    	<div class="p-col-12 p-md-6 p-lg-3">
    		<p-card header="Our Tool's Classification">
    			<div>{{companyData.sectorName}}</div>
    		</p-card>
    	</div>
    	<div class="p-col-12 p-md-6 p-lg-3">
    		<p-card header="Fiscal Year End">
    			<div>{{companyData.year}}</div>
    		</p-card>
    	</div>
    	<div class="p-col-12 p-md-6 p-lg-3">
    		<p-card header="Phone Number">
    			<div>+1-000-000-0000</div>
    		</p-card>
    	</div>
    	<div class="p-col-12 p-md-6 p-lg-3">Get Report</div>
	</div>
</p-panel>
