<p-panel header="{{companyName}} - {{companyData.ticker}}">
	<div class="p-grid">
    	<div class="p-col-12 p-md-6 p-lg-3">
    		<p-card header="NASDAQ's Classification">
    			<div>{{companyData.legacysector == null? "" : companyData.legacysector}}, {{companyData.legacyindustry == null? "" : companyData.legacyindustry}}</div>
    		</p-card>
		</div>
		    	<div class="p-col-12 p-md-6 p-lg-3">
    		<p-card header="AT Classification">
    			<div>{{companyData.sector == null? "" : companyData.sector}}, {{companyData.industry == null? "" : companyData.industry}}</div>
    		</p-card>
    	</div>
    	<div class="p-col-12 p-md-6 p-lg-3">
    		<p-card header="Market Cap">
    			<div>{{companyData.marketcap == null? "" : companyData.marketcap}}</div>
    		</p-card>
		</div>
    	<div class="p-col-12 p-md-6 p-lg-3">
    		<p-card header="Last Close">
    			<div>{{companyData.performance == null? "" : companyData.performance}}</div>
    		</p-card>
    	</div>
	</div>
</p-panel>
