#toTopButton {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: lightgray; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#toTopButton:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

#containerHead {
  position:absolute;
  top:0px;
  background-color: #272b40;
  color: #ffffff;
}

#head #logo {
  margin: 30px 30px 0 50px;
  width: 351px;
  height: 31px;
  font-family: "Gothic A1";
  font-size: 30px;
  font-weight: 900;
  line-height: 20px;
  letter-spacing: -0.5px;
}

#head #content {
  background-image: url("/assets/img/header_alphataxonomy.png");
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  font-family: Assistant;
}

#head #content div {
  width: 656px;
  height: auto;
  margin: auto;
  text-align: center;
}

#head #content div h1 {
  height: 92px;
  font-size: 65px;
  font-weight: 700;
  line-height: 85px;
  letter-spacing: -0.5px;
}

#head #content div p {
  height: 99px;
  font-size: 16px;
  font-weight: 600;
  line-height: 25px;
}

#head #content div .button {
  cursor: pointer;
  margin: auto;
  padding: auto;
  width: 294px;
  height: 45px;
  border-radius: 5px;
}

#head #content div .button .buttonSecText {
  float: left;
  width: 241px;
  height: 26px;
  font-family: Assistant;
  font-size: 16px;
  font-weight: 700;
  line-height: 15px;
  text-transform: uppercase;
}

#head #content div .buttonSecInd {
  background: #32f5de;
  color: #272b40;
}

#head #content div .buttonCompany {
  background: transparent;
  color: #32f5de;
}
#head #content div .buttonSecInd .triangle-right {
  border-left: 10px solid #272b40;
}

#head #content div .buttonCompany .triangle-right {
  border-left: 10px solid #32f5de;
}

#head #content div .button .triangle-right {
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  float: left;
}


.p-grid {
  display: block;
}