<p-panel>
	<div class="p-grid">
		<div class="p-col-2 p-sm-6">Performance vs AT Sector: </div>
        <div class="p-col-10 p-sm-6"><b>{{performanceData.performancevssector}}</b></div>
        <div class="p-col-2 p-sm-6">Performance vs NASDAQ Sector: </div>
        <div class="p-col-10 p-sm-6"><b>{{performanceData.performancevslegacysector}}</b></div>
        <div class="p-col-2 p-sm-6">Performance vs AT Industry: </div>
        <div class="p-col-10 p-sm-6"><b>{{performanceData.performancevsindustry}}</b></div>
        <div class="p-col-2 p-sm-6">Performance vs NASDAQ Industry: </div>
        <div class="p-col-10 p-sm-6"><b>{{performanceData.performancevslegacyindustry}}</b></div>
	</div>
</p-panel>
