/* You can add global styles to this file, and also import other style files */
@import '~font-awesome/css/font-awesome.min.css';
@import '~primeng/resources/primeng.min.css';
@import '~primeicons/primeicons.css';
@import '~primeng/resources/themes/omega/theme.css';
@import '~bootstrap/dist/css/bootstrap.min.css';

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color: #272b40;
  padding-left: 10px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.container > .page-header {
  padding: 1px 0px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

#navbar a {
  color: #777;
}
#navbar a:visited, a:link {
  color: #777;
}
#navbar a:hover {
  color: #777;
}
#navbar a.router-link-active {
  color: #555;
  background-color: #e7e7e7;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
