#containerHome {
    background-color: #272b40;
    color: #ffffff;
}

#containerHome #head #logo {
    padding: 50px;
    width: 351px;
    height: 31px;
    font-family: "Gothic A1";
    font-size: 30px;
    font-weight: 900;
    line-height: 38px;
    letter-spacing: -0.5px;
}

#containerHome #head #content {
    background-image: url("/assets/img/header_alphataxonomy.png");
    height: 400px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    font-family: Assistant;
}

#containerHome #head #content div {
    width: 656px;
    height: auto;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

#containerHome #head #content div h1 {
    height: 92px;
    font-size: 65px;
    font-weight: 700;
    line-height: 85px;
    letter-spacing: -0.5px;
}

#containerHome #head #content div p {
    height: 99px;
    font-size: 16px;
    font-weight: 600;
    line-height: 25px;
}

#containerHome #head #content div .button {
    cursor: pointer;
    margin: auto;
    padding: auto;
    width: 294px;
    height: 45px;
    border-radius: 5px;
}

#containerHome #head #content div .button .buttonSecText {
    float: left;
    width: 241px;
    height: 19px;
    font-family: Assistant;
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;
    text-transform: uppercase;
}

#containerHome #head #content div .buttonSecInd {
    background: #32f5de;
    color: #272b40;
}

#containerHome #head #content div .buttonCompany {
    background: transparent;
    color: #32f5de;
}
#containerHome #head #content div .buttonSecInd .triangle-right {
    border-left: 10px solid #272b40;
}

#containerHome #head #content div .buttonCompany .triangle-right {
    border-left: 10px solid #32f5de;
}

#containerHome #head #content div .button .triangle-right {
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    float: left;
}


#containerHome #body {
    padding: 50px;
}