<div id="containerHome" class="p-grid">
	<div id="head" class="p-col-12">
		<div id="logo">
			<p id="text">A T</p>
		</div>
		<div id="content">
			<div>
				<!-- <span id="atLine"></span> -->
				<h1>AlphaTaxonomy</h1>
				<p>Gain actionable, objective insight into our newly classified sectors and industries. Dig deep into
					company data from the last decade, and generate reports from comprehensive visualizations. To start
					researching, select one of these paths.
				</p>
				<!-- <div class="buttonSecInd">
					<span class="buttonSecIndText"></span>
					<span class="buttonSecIndArrow"></span>
				</div>
				<div class="buttonSecInd">
					<span class="buttonSecIndText"></span>
					<span class="buttonSecIndArrow"></span>
				</div> -->
				<button class="button buttonSecInd">
					<span class="buttonSecText">ANALYZE A SECTOR OR INDUSTRY</span>
					<div class="triangle-right"></div>
				</button>
				<button class="button buttonCompany">
					<span class="buttonSecText">ANALYZE A COMPANY</span>
					<div class="triangle-right"></div>
				</button>
			</div>
		</div>
	</div>

	<div id="body" class="p-col-12 p-md-6">
		<app-treemap></app-treemap>
		<app-company-datatable></app-company-datatable>
	</div>
</div>