#containerHome #body {
    padding: 50px;
}


#chart {
  top: 0;
  left: 0;
  width:100%;
  height:100%;
  margin-bottom: 40px;
}
.google-visualization-tooltip{
  display:table;
}
g{
  cursor:pointer;
}

/* Angular Material */

/* @import '~@angular/material/prebuilt-themes/indigo-pink.css'; */

body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

mat-card {
  max-width: 80%;
  margin: 2em auto;
  text-align: center;
}

mat-toolbar-row {
  justify-content: space-between;
}

.done {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: white;
}
